@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Poppins:wght@200;300;400;600;700&family=Smooch&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color:rgb(30, 30, 30);
}

nav{
    width: 87%;
    margin: 1.5rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav h1{
    font-size: 29px;
    font-weight: 800;
}

nav h1 span{
    color: rgb(0, 175, 0);
    font-size: 34px;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 19px 0;
}

nav ul a{
    font-size: 19px;
    margin: 0 16px;
    cursor: pointer;
    transition: .7s;
    color: white;
    text-decoration: none;
}

nav ul a:hover{
    color: rgb(0, 175, 0);
}

.button_of_nav button{
    padding: 12px 45px;
    border-radius: 30px;
    background-color: rgb(0, 175, 0);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
    display: none;
}

.button_of_nav button:hover{
    font-size: 15px;
}

header{
    width: 87%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}



.header_of_text{
    width: 400px;
    height: 400px;
    margin: auto;
    color: white;
    margin: 10rem 0 0 0;
}

.media_of_header_text{
    width: 100%;
}

.header_of_text p{
    font-size: 22px;
    margin: 11px 0;
}

.header_of_text h1{
    font-size: 45px;
    font-weight: 600;
}

.header_of_text h1 span{
    color:  rgb(0, 175, 0);
    font-size:45px;
    margin: 0 10px;
}

.input_of_textplace input{
    padding:11px 80px;
    border-radius: 60px;
    border: 2px solid rgb(0, 175, 0);
}

.input_of_textplace button{
    padding: 11px 50px;
    border-radius: 50px;
    color: white;
    margin: 1rem;
    font-weight: 500;
    cursor: pointer;
    background-color:rgb(0, 175, 0);
    transition: .7s;
}

.img_of_header{
    width: 500px;
    height: 600px;
}

.img_of_header img{
   width: 100%;
}

.about_section{
    width: 74%;
    margin:4rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img_of_aboutsec{
    width: 34%;
}

.img_of_aboutsec img{
    width: 100%;
}

.text_about_section{
    width: 50%;
    color: white;
}

.text_about_section h1{
    font-size: 60px;
    font-weight: 600;
    margin: 14px 0;
}

.text_about_section h3{
    font-weight: 400;
    margin: 8px 0;
}

.text_about_section h3 span{
    color: rgb(0, 175, 0);
    margin: 0 8px;
}

.text_about_section p{
    margin: 11px 0;
}

.text_about_section button{
    padding: 10px 25px;
    border: none;
    background-color: rgb(0, 175, 0);
    color: white;
    cursor: pointer;
    border-radius: 30px;
}

@media only screen and (max-width:860px) {
    .button_of_nav button{
        display: block;
    }

    nav ul{
        display: none;
    }

    .header_of_text{
        width: 100%;
    }

    .img_of_header{
        width: 100%;
    }
    header{
        justify-content: center;
    }
}
